    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: rgb(147, 146, 146);
        color: white;
    }
    
    header {
        color: #fff;
    }
    
    header h1 {
        font-size: 30px;
    }
    
    header p {
        font-size: 14px;
    }
    
    header .hero-img {
        position: relative;
        height: 80vh;
        background-image: url('/img/bgimage.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }
    
    header .hero-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -2;
    }
    
    header .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
        padding: 10px;
        text-align: center;
    }
    
    .main-color {
        color: rgb(46, 222, 10);
    }
    
    .aboutus {
        width: 100%;
        height: 60vh;
        margin-top: 20px;
    }
    
    .aboutus-card {
        position: relative;
        margin: 10px;
        width: 100%;
        height: 600px;
        text-align: center;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
        background-image: url(/img/aboutus.jpg);
        overflow: hidden;
        z-index: 0;
    }
    
    .aboutus-card .aboutus-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -2;
        overflow: hidden;
    }
    
    .aboutus-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
        text-align: center;
    }
    
    .aboutus-text span {
        font-size: 44px;
        padding: 2px;
    }
    
    button {
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-40%, -50%);
        padding: 10px;
        background: none;
        border: none;
        color: #fff;
        font-size: 34px;
        cursor: crosshair;
        z-index: 5
    }
    
    button:hover~.aboutus-info {
        clip-path: circle(90% at 50%60%)
    }
    
    .aboutus-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 80px 30px;
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
        clip-path: circle(0 at 55% 50%);
        transition: clip-path .8s;
    }
    
    nav {
        z-index: 2;
    }
    
    a {
        color: white;
    }
    
    nav .navbar-brand {
        font-size: 24px;
    }
    
    .nav-link {
        color: white;
    }
    
    .nav-link:hover {
        color: rgb(46, 222, 10);
    }
    
    .navbar-brand {
        color: white;
    }
    
    .navbar-brand:hover {
        color: white;
    }
    
    h1 {
        top: 60px;
        left: 60px;
        font-size: 0;
    }
    
    h1 span {
        display: inline-block;
        font-size: 45px;
        color: #ffff;
        text-shadow: 2px 2px 5px #000;
        animation: rotate-heading 2s 1s linear forwards;
        opacity: 0;
    }
    
    h1 span:nth-child(2) {
        animation-delay: 1s;
    }
    
    h1 span:nth-child(3) {
        animation-delay: 1.2s;
    }
    
    h1 span:nth-child(4) {
        animation-delay: 1.4s;
    }
    
    @keyframes rotate-heading {
        form {
            transform: rotateY(90deg);
            filter: blur(8px);
            opacity: 0;
        }
        to {
            transform: rotateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }
    
    .account {
        width: 100%;
        color: white;
        margin-top: 140px;
    }
    
    .account-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        z-index: 5;
        padding: 10px;
        text-align: center;
    }
    
    .col {
        width: 30vw;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    
    .form-control {
        box-shadow: 2px 2px 4px rgba(46, 222, 10, 0.8);
        background-color: black;
        color: white;
        border: 1px solid rgba(46, 222, 10, 0.8);
    }
    
    .training-plan {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        position: relative;
        margin: 20px 40px;
        width: 350px;
        height: 500px;
        perspective: 800px;
        background-color: rgb(147, 146, 146);
        border: none;
    }
    
    .img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        transition: 0.8s;
    }
    
    h3 {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        color: rgb(46, 222, 10);
    }
    
    .one {
        background-image: url('/img/beginner.jpg');
    }
    
    .two {
        background-image: url('/img/semi-pro.jpg');
    }
    
    .three {
        background-image: url('/img/pro.jpg');
    }
    
    .text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 30px;
        text-align: center;
        border-radius: 15px;
        background-color: rgba(46, 222, 10, 0.8);
        opacity: 0;
        transition: 0.9s;
        color: #fff;
    }
    
    h2 {
        margin-top: 250px;
        margin-bottom: 20px;
    }
    
    .text-one {
        transform: rotateY(-180deg);
    }
    
    .card:hover .one {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .text-two {
        transform: rotateY(-180deg)
    }
    
    .card:hover .two {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .text-three {
        transform: rotateY(-180deg)
    }
    
    .card:hover .three {
        transform: rotateY(180deg);
        opacity: 0;
    }
    
    .card:hover .text {
        transform: rotate(0);
        opacity: 1;
    }
    
    .media .media-box {
        margin: 20px 10px;
        padding: 30px;
        box-shadow: 5px 5px 25px rgba(46, 222, 10, 0.8);
        background-color: #000;
        border-radius: 25px;
        font-size: 32px;
        transition: transform 0.3s;
    }
    
    .media .media-box:hover {
        transform: scale(1.05)
    }
    
    .media .media-box i:hover {
        color: #2ede0a;
    }